// Licensed to the .NET Foundation under one or more agreements.
// The .NET Foundation licenses this file to you under the MIT license.
// See the LICENSE file in the project root for more information.
{EndLicense}

[Fact]
public void SetFieldsTest()
{
    {TestType} v3 = new {TestType}(4f, 5f);
    v3 = v3.WithX(1.0{ScalarSuffix});
    v3 = v3.WithY(2.0{ScalarSuffix});
    Assert.Equal(1.0f, v3.X);
    Assert.Equal(2.0f, v3.Y);
    {TestType} v4 = v3;
    v4 = v4.WithY(0.5{ScalarSuffix});
    Assert.Equal(1.0f, v4.X);
    Assert.Equal(0.5f, v4.Y);
    Assert.Equal(2.0f, v3.Y);
}

[Fact]
public void EmbeddedVectorSetFields()
{
    EmbeddedVectorObject evo = new EmbeddedVectorObject();
    evo.FieldVector = evo.FieldVector.WithX(5.0{ScalarSuffix});
    evo.FieldVector = evo.FieldVector.WithY(5.0{ScalarSuffix});
    Assert.Equal(5.0f, evo.FieldVector.X);
    Assert.Equal(5.0f, evo.FieldVector.Y);
}

private class EmbeddedVectorObject
{
    public {TestType} FieldVector;
}